body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f9d2d3;
  font-family: "Segoe UI", "Segoe", Tahoma, Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #5d2c2c;
  width: 70vw;
}

.textInput {
  background-color: #f9d2d3;
  color: black;
  padding: 6px 10px;
  width: 20em;
  border: none;
  border-bottom: black solid 2px;

  font-size: 1em;
  font-weight: bold;
}

.textInput::placeholder {
  color: black;
  font-size: 1em;
  font-weight: bold;
}

.textInput:focus {
  outline: none;
}

.btn {
  background-color: transparent;
  border: 2px solid #e74c3c;
  border-radius: 0.6em;
  color: #e74c3c;
  cursor: pointer;
  display: flex;
  align-self: center;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
  margin: 20px;
  padding: 1.2em 2.8em;
  text-decoration: none;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  transition: box-shadow 0.2s ease-in-out, color 0.1s ease-in-out;
  outline: none;
}

.btn:hover {
  box-shadow: 0 0 40px 40px #e74c3c inset;
  color: #f9d2d3;
}

.textArea {
  background-color: #f9d2d3;
  color: black;
  padding: 20px 10px;
  width: 20em;
  border: none;
  border-bottom: black solid 2px;
  outline: none;

  font-size: 1em;
  font-weight: bold;
}

.textArea::placeholder {
  color: black;
  font-size: 1em;
  font-weight: bold;
}

.search-buttons {
  display: flex;
}

.flexCentered {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.flexHorizontal {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}

.marginMedium {
  margin: 1em 0 1.5em 0;
}

.checkbox {
  position: relative;
  cursor: pointer;
  margin-top: 5px;
}

.checkbox:before {
  content: "";
  display: block;
  position: absolute;
  width: 16px;
  height: 16px;
  top: 0;
  left: -4px;
  border: 2px solid #555555;
  border-radius: 3px;
  background-color: white;
}

.checkbox:checked:after {
  content: "";
  display: block;
  width: 5px;
  height: 10px;
  border: solid black;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
  position: absolute;
  top: 2px;
  left: 3px;
}

.numberInput {
  text-align: center;
  background-color: #f9d2d3;
  color: black;
  padding: 10px 40px;
  border: black solid 2px;
  outline: none;
  margin-bottom: 0;

  font-size: 1em;
  font-weight: bold;
}

.numberInput::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
